{
  "extends": [
    "standard"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true,
      "classes": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
  },
  "globals": {
    "requestAnimationFrame": true
  }
}