{
  "extends": [
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true,
      "classes": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "rules": {
  },
  "globals": {
    "import": true,
    "requestAnimationFrame": true
  }
}